@import './src/style/_colors';
@import './src/style/_mixin';

.tr {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}
.td {
  &__first {
    font-family: Nunito, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: bottom;
  }
  &__second {
    border-bottom: 1px solid $bgColor;
    width: 100%;
  }
  &__third {
    align-items: center;
    display: flex;
    font-family: Nunito, sans-serif;
    font-size: 15px;
    font-weight: 700;
    gap: 5px;
    justify-content: flex-end;
    line-height: 100%;
    margin-top: 20px;
    flex-shrink: 0;
  }
}
