$white: #fff;
$header: #392350;
$bgColor: #210b36;
$text: #c6b6d7;
$pink: #9c19ca;
$blue: #4b00ca;
$linearGradient: 87deg, #2E00B1 -11.74%, #8100BD 48.81%, #A400BE 113.27%;
$hoverGradient: 88deg, #A400BE -14.85%, #8100BD 50.2%, #2E00B1 115.25%, #2E00B1 115.25%;
$minus: #B865D6;
$disabled: #808080;
