//Media queries
$tablet: 760px;
$laptop: 1000px;
$desktop: 1280px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}


