@import 'src/style/colors';
@import 'src/style/mixin';
.footer {
  bottom: 50px;
  position: absolute;
  width: 100%;
  @include tablet {
    bottom: 15px;
  }
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .copy {
    font-size: 14px;
  }

  .footer {
    bottom: 20px;
  }
}
